p{color:rgb(245, 245, 245)}
p{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
p{font-size: larger;}
body{background-color: rgb(105, 134, 88);}
#warka{color: skyblue;}
div
{
    max-width: 700px;
}
